
@{
    ViewBag.Title = "Index";
}
<div>
    .
</div>
<div align="center">
    <img src="~/imagenes/tree-black-silhouette-shape.svg" height="50" width="50" />
    <h2>Tú bosque</h2>
</div>
<div>
    .
</div>
<div>
    .
</div>

<hr />
@{
    var arboles = ViewBag.Arboles;
}

<div><b>Has plantado @arboles árboles</b></div>

<tr>
    @for (int i = 0; i < 50; i++)
    {
        <th></th>
    }
</tr>

@{int partialSum = 0;}
@for (int i = 0; i < arboles; i++)
{
    if (partialSum == 50)
    {
        <tr></tr>

        partialSum = 0;
    }

    else
    {

        <img src="~/img/tree.jpg" height="40" width="40" />
        partialSum++;
    }
}




